{:paths   ["src" "resources"]
 :deps    {com.wsscode/pathom        {:mvn/version "2.2.28"}
           com.datomic/client-cloud  {:mvn/version "0.8.81"}
           com.datomic/ion           {:mvn/version "0.9.35"}
           ;; Patched version 3.1.1 to deal with dependency conflicts between
           ;; fulcro and datomic JVM
           com.fulcrologic/fulcro    {:local/root "../mygiftlist_fulcro"
                                      :exclusions [org.clojure/clojurescript]}
           org.clojure/core.async    {:mvn/version "0.6.532"}
           edn-query-language/eql    {:mvn/version "0.0.9"}
           ring/ring-core            {:mvn/version "1.8.0"}
           ring/ring-defaults        {:mvn/version "0.3.2"}
           ovotech/ring-jwt          {:mvn/version "1.2.0"}
           com.taoensso/timbre       {:mvn/version "4.10.0"}
           org.clojure/clojurescript {:mvn/version "1.10.597"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :jvm-opts    ["-Dtrace"]
                 :extra-deps  {mount                               {:mvn/version "0.1.16"}
                               http-kit                            {:mvn/version "2.4.0-alpha4"}
                               org.clojure/tools.namespace         {:mvn/version "0.3.1"}
                               thheller/shadow-cljs                {:mvn/version "2.8.83"}
                               com.fulcrologic/semantic-ui-wrapper {:mvn/version "1.0.0"}
                               clj-commons/pushy                   {:mvn/version "0.3.10"}
                               com.cognitect/transit-cljs          {:mvn/version "0.8.256"}
                               fulcrologic/fulcro-inspect          {:mvn/version "2.2.5"}
                               binaryage/devtools                  {:mvn/version "0.9.10"}
                               expound                             {:mvn/version "0.8.2"}}}}}
