.home.container {
    display: flex;
}

.login.container {
    text-align: center;
}

.login.combined-button {
    margin: 10px;
}

.leftnav.menu {
    margin-right: 20px;
}

.mgl_text-input {
    max-width: 200px;
}

.mgl_flash-message {
    margin: 20px !important;
}
